body {
  text-align: center;
  background-color: gray;
}

.container {
  border: solid 1px #23631b;
  border-radius: 10px;
  background-color: #23631b;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  width: 10%;
  height: auto;
}
